img{
    width: 200px;
    height: 200px;
}

.color-title{
    font-size: normal;
}


#blue{
    color: blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}
#red{
    color: red;
}

#yellow{
    color:yellow;
}
